@media screen and (max-width:768px){
.cn-loading-page img{
	width: 120px;
}
.loading-text span{
	display: inline-block;
	text-align: center;
	width: 30px;
	padding: 5px 5px;
	font-weight: bold;
	color: #e8e8e8;
	background: #232323;
	border-radius: 3px;
	font-size: 1rem;
	margin: 0px 5px;
	border: 0.5px solid #e8e8e8;
	animation: shine 0.7s ease-in-out forwards;
	opacity: 0;
	animation-delay: 2.5s;
}
.cn-logo{
	width: 140px;
}
.clicky{
	width: 200px;
}
.break{
	display: none;
}
.break-mobile{
	display: block;
}
.cn-nav{
	padding: 20px 20px;
}
.cn-nav img{
	width: 150px;
}
.cn-btn {
	font-size: 1rem;
}
.cn-banner-img{
	position: absolute;
	left: -90%;
	top: -3%;
	width: 270%;
	transform: rotate(180deg);
	object-fit: cover;
	object-position: center;
}
.cn-banner-text{
	padding: 10px 10px;
}
.cn-banner-text h2{
  font-size: 42px;
  letter-spacing: 0.5px;
  line-height: 53.92px;
}
.cn-banner-text p{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
  font-style: 14px;
  line-height: 20px;
}
.cn-news{
	padding: 20px 20px;
}
.cn-games{
	padding: 20px 20px;
}

.title-h{
	font-size:32px;
}
.followup-text{
	font-family: Lato;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: center;

}
footer .popup-line{
	display: block;
}
.cn-NFT{
	width: 100%;
	padding: 70px 10px;
}
.bt-dk-nft {
	display: none;
  }
.cn-nft-slide-mobile{
	width: 100%;
	height: auto;
	display: block;
}
.teammates {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}
footer{
	width: 100%;
	background: #565656;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120vh;
	flex-direction: column;
}
.team{
	width: 100%;
	height: 300px;
}
.TC ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 2%;
	text-align: left;
}
footer div{
	margin-top: 3%;
	margin-bottom: 3%;
}

footer .popup-line{
	display: block;
}
footer{
	display: flex;
}
.desk-footer{
	display: none;
}
.end{
	display: none;
}

.TC .credit span{
	font-family: "lato", sans-serif;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #eeeeee;
}	

























}
