.bt-cn-banner{
	width: 100%;
	height: 100vh;
	background: url(images/b3f796aa18b5c0ca3c82099d54e9a8d8.png);
	background-size: 70% 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cn-logo{
	width: 40px;
}
.navbar-brand{
	color: #eeeeee;
	font-family: "Cinzel", serif;
	font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}
.navbar-brand:hover{
	color: #e4ad00;
	transition: 0.5s ease-in-out;
}
.bt-cn-navbar{
	padding: 10px 50px !important;

} .navbar {
      transition: background-color 0.5s ease;
    }
    .navbar.scrolled {
      background:  linear-gradient(rgba(0, 0, 0, 1), #e4ad00);
      padding: 20px 15px;
	    transition: 0.6s;
  }
  .card{
  	background: transparent;
  }
  .carousel-indicators button {
    background-color: #090909 !important ; 
}
.carousel-indicators .active {
    background-color: #e4ad00 !important; 
}
.carousel-item {
            height: 50vh; 
        }
.Nft-game-slide{
	display: none;
}
.Nft-game-slide-mobile{
	display: none;
}
.game-card {
	cursor: pointer;
	min-width: 240px;
	width: 320px;
	background: #151515;
	height: 460px;
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px 10px 40px 10px;
	gap: 10px;
	color: #eeeeee;
	border-radius: 15px;
	overflow: hidden;
	transform: scale(0.98);
}
.Nft-game-block-dsk{
display: flex; 
justify-content: space-evenly; 
width: 100%;
height: auto;
 padding: 10px;
 flex-wrap: wrap;
}
.game-img{
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.game-points{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10px;
}
.game-points span{
	display: inline;
	text-align: center;
}
.game-button{
	width: 100%;
}
.game-button button{
	font-family: "lato", sans-serif;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	padding: 8px 8px;
	width: 100%;
	cursor: pointer;
	outline:none;
	border: none;
	background: #e4ad00;
	color: #eeeeee;
	border-radius: 4px;
}
.game-card h2{
font-family: "lato", sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 43.14px;
text-align: center;
}
.game-card p{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	font-family: "lato", sans-serif;
	padding: 0px 20px;
}
.game-img img{
	width: 95px;
	height: 97px;

}
.game-points span{
	width: 128px;
	height: 128px;
	border-radius: 8px;
	border: 1px solid #eeeeee;
	padding: 12px 12px;
	font-size: 15px;
	font-family: "lato", sans-serif;
}
.image-grid{
	height: 90%;
	width: 95%;
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  max-width: 300px;
  margin:auto;
  padding: 10px ;
  margin-top: 30px;
}
.image-grid img{
	width: 130px;
	height: 150px;
	object-fit: contain;
	object-position: center;
}
.letter-input{
	display: flex;
	gap: 5px;
	width: 80%;
	justify-content: center;
	margin: 0 0 0 10px;
}
.letter-input input{
	width: 25px;
	height: 25px;
	border-radius: 3px;
	outline: none;
	border: none;
	padding: 2px;
	background-color: #383838;
}
.letters{
	width: 90%;
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 30px;
	flex-direction: column;
}
.letters span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 0.5px solid #eeeeee;
	background: #232323;
	text-align: center;
	padding: 3px;
	border-radius: 3px;
	font-family: "lato", sans-serif;
	align-items: center;
}
.line-1-text, .line-2-text{
	display: flex;
	gap: 10px;
}
.spinner .image-grid{
	height: 100%;
	width: 100%;
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  max-width: 300px;
  margin:auto;
  padding: 0 3px ;
  padding-left: 12px;
}
.spinner{
	position: relative;
}
.free{
	position: absolute;
	top: 2px;
	left: 40%;
	padding: 2px 9px;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	border-radius: 7px;
	background-color: red;
}
.spinner .image-grid div{
	width: 130px;
	height: 130px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
   url('images/Coins-pana.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
.spinner .image-grid small{
	position: absolute;
	bottom: 3px;
	right: 5px;
	padding: 3px 10px;
	background: #090909;
	border-radius: 8px;
	font-family: "lato", sans-serif;
	font-size: 12px;
}
.spinner .image-grid h2{
	font-size: 28px;
	font-weight: bold;
	font-family: "Raleway", sans-serif;
}
.game-card-wrapper{
	background: url(images/bkg.png);
	padding: 30px 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
	min-width: 300px;
	margin-left: 20px;
	margin-right: 20px;
	transition: scale 0.2s ease-in-out;
}
.footer{
	width: 100%;
	height: auto;
	padding: 20px 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: #565656;
}
.footer-block-one{
	width: 100%;
	padding: 15px 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.footer-team{
	display: flex;
	flex-direction:  column;
	padding: 10px;
}
.first-part, .second-part{
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: initial;
	align-items: start;
}
	
.team-wrappper{
	display: flex;
	gap: 50px;
}
.member-card{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.member-card img{
	width: 70px !important;
	height: 70px !important;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
.member-card h5{
	font-size: 12px;
}
.team-wrappper a{
	text-decoration: none;
	padding: 5px 5px;
	border-radius: 6px;
	transition: 0.3s ease-in-out;
}
.team-wrappper a:hover{
	background: #e4ad00;
}
.member-card h5{
	color: #eeeeee;
	font-weight: 700;
	font-size: 16px;
	line-height: 16.8px;
	font-family: "Lato", sans-serif;
}
.member-card p{
	color: #d4d0e0;
font-weight: 400;
font-size: 14px;
	line-height: 16.8px;
	font-family: "Lato", sans-serif;
}
.member-card .details{
	text-align: initial;
}
.footer-info{
	padding: 40px 10px;
}
.footer-info .ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: initial;
	gap: 15px;
}
.footer-info h2{
		color: #eeeeee;
	font-weight: 700;
	font-size: 18px;
	line-height: 16.8px;
	font-family: "Lato", sans-serif;
	margin-bottom: 15px;
}
.footer-info a{
	text-decoration: none;
		color: #d4d0e0;
font-weight: 400;
font-size: 14px;
	line-height: 16.8px;
	font-family: "Lato", sans-serif;
}
.footer-team h1{
		margin: 0 30px;
	width: 100%;
	font-family: "lato", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
	color: #eeeeee;
	margin-bottom: 30px;
}
.footer-block-two span{
		color: #eeeeee;
	font-weight: 400;
	font-size: 12px;
	line-height: 16.8px;
	font-family: "Lato", sans-serif;
}
 #news-carousel .item {
 	min-width: 300px;
 	min-height: 450px;
            background: #151515;
            padding: 30px;
            margin: 10px;
           color: #eeeeee;
            border-radius: 3px;
            text-align: initial;
            cursor: pointer;
        }
       .step-head h1{
       	font-size: 17px;
       	width: 100%;
       	font-weight: 700;
       	text-align: center;
       	padding: 0;
       	color: #e4ad00;
        }
        .step-direction p{
        	font-size: 15px;
        	font-weight: 700;
        	padding:10px 10px;
        	width:100%;
        	border-radius: 5px;
        	text-align: center;}
        .custom-nav {
            text-align: center;
            margin-top: 10px;
        }
        .custom-nav button {
            background-color: #e4ad00;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 3px;
            margin: 0 5px;
            	color: #eeeeee;
	font-weight: 700;
	font-size: 16px;
	line-height: 16.8px;
	font-family: "Lato", sans-serif;
        }
        .custom-nav button:hover {
           
        }
#news-carousel img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
#news-carousel .cover-page{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.owl-theme .owl-dots .owl-dot span {
    background: #e4ad00 !important; 
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #e4ad00 !important; 
}
.step-head i{
	color: dodgerblue;
	font-weight: 700;
}
.cover-page .img{
	padding: 10px;
	width: 120px;
	height: 120px;
	background: #e4ad00;
	border-radius: 50%;
}
.cn-NFT .custom-nav{
	display: none;
} 
.popup-overlay{
	display: none;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
























