*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 #loading-page {
            display: flexf; 
        }
        #main {
            display: none; 
        }
body{
	background: #090909 !important;
}
.cn-loading-page{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-direction: column;
	background: #232323;
	padding: 10px 20px;
	transition: 0.6s ease-in-out;
}
.pic-1{
	animation: rotate-clockwise 0.6s ease-in-out forwards;
	transform: rotate(-60deg);
}
@keyframes rotate-clockwise{
	0%{
		transform: rotate(-60deg);
	}
	100%{
		transform: rotate(0);
	}
}
.pic-2{
	animation: rotate-anticlockwise 0.6s ease-in-out forwards;
	animation-delay: 0.6s;
	transform: rotate(60deg);
}
@keyframes rotate-anticlockwise{
	0%{
		transform: rotate(60deg);
	}
	100%{
		transform: rotate(0);
	}
}
.pic-3{
	animation: rotate-clockwise 0.6s ease-in-out forwards;
	animation-delay: 1.2s;
	transform: rotate(-60deg);
}
.pic-4{
	animation: rotate-anticlockwise 0.6s ease-in-out forwards;
	animation-delay: 1.8s;
	transform: rotate(60deg);
}

.loading-text span{
	display: inline-block;
	text-align: center;
	width: 50px;
	padding: 10px 10px;
	font-weight: bold;
	color: #e8e8e8;
	background: #232323;
	border-radius: 3px;
	font-size: 1.5rem;
	margin: 0px 5px;
	border: 0.5px solid #e8e8e8;
	animation: shine 0.7s ease-in-out forwards;
	opacity: 0;
	animation-delay: 2.5s;
}
@keyframes shine{
	0%{
		opacity: 0;
		box-shadow: 0;
	}
	100%{
		opacity: 1;
		box-shadow: 0 0 4px goldenrod;
		text-shadow: 0 0 4px  goldenrod;
	}
}
.cn-nav{
	transition: 0.6s ;
	padding: 20px 70px;
	z-index: 10000;
	background:  #232323;
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.cn-logo{
	width: 200px;
	text-decoration: none;
	transition: 0.6s;
}
.cn-btn a{
	text-decoration: none;
	transition: 0.6s;
	color: #090909;
}
.cn-btn {
	min-width: 50px;
	padding: 8px 10px;
	font-weight: bold;
	cursor: pointer;
	color: #090909;
	border: none;
	outline: none;
	letter-spacing: 0.5px;
	font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.cn-nav-icon{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.cn-banner{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.cn-banner-img{
	position: absolute;
	transform: rotate(180deg);
	object-fit: cover;
	object-position: center;
	left: -50%;
	top: -10%;
	z-index: 0;
}
.cn-banner-text{
	margin-top: 4%;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	bottom: 20%;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	align-items: center;
	color: #e8e8e8;
	flex-wrap: wrap;
	background: transparent;
}
.cn-banner-text h2{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  letter-spacing: 0.5px;
  text-shadow: 0 0 3px #090909;
}
.hidden{
	opacity: 0;
	transition: all 0.6s;
	filter: blur(5px);
	transform: translateX(-100%);
}
.show{
	opacity: 1;
	transform: translateX(0);
	filter: blur(0);
}
.cn-banner-text p{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  line-height: 20px;
  margin: 10px 0;
  text-shadow: 0 0 3px #090909;
}
.title-h{
	font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5rem;
  letter-spacing: 0.5px;
  text-shadow: 0 0 3px #090909;
  color: #e8e8e8;
}
.followup-text{
	font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.3rem;
  line-height: 20px;
  margin: 10px 0;
  text-shadow: 0 0 3px #090909;
  text-transform: capitalize;
  word-spacing: 3px;
  color: #e8e8e8;
}
.btn-1{
	background: #e4ad00;
}
.break{
	display: block;
}
.cn-btn-box{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	flex-direction: column;
}
.clicky-small{
	width: 200px !important;
}
.clicky{
	width: 230px;
}
.glow-btn{
	 box-shadow: 0 10px 10px -2px rgba(228, 173, 0, 0.4),
    0 15px 15px -5px rgba(228, 173, 0, 0.3),
    0 20px 20px -10px rgba(228, 173, 0, 0.2),
    0 25px 25px -15px rgba(228, 173, 0, 0.1);
}
.clicky:active{
	transform: scale(0.85);
	transition: 0.4s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.cn-NFT{
	width: 100%;
	padding: 50px 50px 50px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.cn-nft-text{
	width: 100%;
	text-align: center;
}
.cn-nft-slide{
	margin-bottom: -30px;
	width: 90%;
	height: 80vh;
	display: flex;
	justify-content: space-evenly;
	gap: 50px;
	align-items: center;
}
.cn-games{
	width: 100%;
	height:100vh;
	padding: 50px 100px;
}
.cn-introtext{
	width: 100%;
	text-align: center;
}


.cn-news{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 50px;
}
.news-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	flex-direction: column;
	gap: 10px;
}
.news-block{
	min-width: 342px;
	width: 30%;
	height: 473px;
	background: #090909;
	padding: 32px 8px 32px 8px;
	border-radius: 12px;
}
.news-page{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	color: #eeeeee;
	transition: 0.5s ease-in-out;
	display: none;
}
@keyframes moveup{
	0%{
		margin-top: 25px;
		filter: blur(5px);
	}
	100%{
		margin-top: 0;
		filter: blur(0);
	}
}
.news-page h4{
font-family: "lato", sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 32px;
text-align: center;
text-transform: uppercase;
margin-bottom: 30px;
}
.news-page p{
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: center;
}
.news-page a{
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: center;
text-decoration: none;
color: #E4AD00;
margin-bottom: 10px;
overflow: hidden;
}
.cn-nav-buttons{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	width: 20%;
	min-width: 200px;
	list-style: none;
	cursor: pointer;
}
.cn-nav-buttons li{
	width: 8px ;
	height: 8px;
	border-radius: 2px;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	cursor: pointer;
	padding: 5px;
}
.cn-nav-buttons .active-li{
	background: #E4AD00;
	transform: scale(1);
}
.active-text{
	display: flex;
	animation: moveup 0.5s linear forwards;
}
.Cn-NFT-card{
	width: 243px;
	min-width: 243px;
	height: 450px;
	min-height: 420px;
	background: url(images/l2giLJKgV6.png);
	background-fit: cover;
	background-position: center;
	padding: 20px 30px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	color: #e8e8e8;
	cursor: pointer;
	transition: scale 0.2s ease-in-out;
}
.Cn-NFT-card:hover, .game-card-wrapper:hover{
	scale: 1.05;
}
.Cn-NFT-card img{
	height: 50%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.nft-head{
	width: 100%;
	height: 7%;
	display: flex;
	justify-content: end;
	flex-direction: column;
	align-items: start;
	font-family: "Raleway", sans-serif;
}
.nft-head h5{
	margin-bottom: 0.2%;
 font-size: 15.92px;
 font-weight: 800;
 line-height: 18.69px;
 letter-spacing: 0.08em;
 text-align: left;

}
.nft-images{
	width: 100%;
	height: 83%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nft-footer{
	width: 100%;
	height: 5%;
	display: flex;
	justify-content: right;
}
.popup{
	width: 350px;
	min-width: 300px;
	background: #151515;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	color: #eeeeee;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}
.open-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}
.popup-content{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 10px;
	border-radius: 6px;
	padding: 10px 10px 40px 10px ;
}
.close-icon{
	width: 100%;
	text-align: right;
	padding: 0px 10px;
	font-size: 2rem;
	color: #e4ad00;
}
.popup-options p{
	display: flex;
	justify-content: start;
	align-items: center;
}
.popup-options{
	width: 100%;
	padding: 0px 15px;
	text-align: left;
}
.popup-options a{
	align-items: center;
	padding: 5px 7px;
	display: flex;
	border-radius: 5px;
	gap: 20px;
	text-decoration: none;
	color: #eeeeee;
	transition: 0.3s ease-in-out;
}
.popup-options a:hover, .popup-options a:active{
	background: #e4ad00;
}
.popup-line{
	width: 100%;
	background: #eeeeee;
	padding: 0.5px;
}
.bi-x{
	cursor: pointer;
	text-shadow: 0 0 3px #e4ad00;
}
.cn-banner-hidden{
	visibility: hidden;
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	opacity: 0;
}
.cn-games{
	background: blue;
	width: 340px;
}
.cn-nft-slide-mobile{
	display: none;
}
.cn-nft-slide-mobile img {
      max-width: 243px; 
      width: 100%;
      height: 436px;
      margin: 0 auto;
    }

footer{
	width: 100%;
	background: #565656;
	padding: 50px 50px;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 100vh;
}
.team{
	width: 100%;
	height: 300px;
}
.team h1{
	margin: 0 30px;
	width: 100%;
	font-family: "lato", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
	color: #eeeeee;
}
.teammates {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 200px;
}
.teammates ul{
	list-style: none;
}
.teammates li{
	color: #eeeeee;
	font-weight: 700;
	font-size: 14px;
	line-height: 16.8px;
	font-family: "Lato", sans-serif;
}
.teammates span{
color: #d4d0e0;
font-weight: 400;
}
.teammates li{
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin: 30px 0px;
	cursor: pointer;
}
footer div{
	margin-top: 2%;
	margin-bottom: 2%;
}
.team h2{
		margin: 0 30px;
	width: 100%;
	font-family: "lato", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 16.8px;
	color: #eeeeee;
	text-transform: capitalize;
}
.TC{
	color: #eeeeee;
	width: 100%;
}
.TC ul{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 2%;
	text-align: left;
}
.TC li{
	font-weight: 400;
	font-size: 14px;
	line-height: 16.8px;
	font-family: "lato", sans-serif;
	margin-right: 40px;
	cursor: pointer;
}
.credit{
	width: 100%;
	text-align: center;
}
.TC .credit span{
	font-family: "lato", sans-serif;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #eeeeee;
}	
.Nft-mobile-slide{
	display: none;
}
footer .popup-line{
	display: none;
}
.desk-footer{
	padding: 20px 20px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}
.desk-footer div{
	height: auto;
}
.desk-footer .teammates{
	gap: 20px;
}
 .end{
	width: 100%;
	background: #565656;
	font-family: "lato", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #eeeeee;
	padding-bottom: 20px;
}











































